
  <% message_list.each do |message| %>
    <% if message.from_user_id == current_user.id %>
      <div class="message-sent">
        <div class="message-sent-user-nickname">
          <%= message.from_user_nickname %>
        </div>

        <div class="message-sent-timestamp">
          <%= time_ago_in_words(message.created_at) + " ago." %>
        </div>

        <div class="card message-sent-content">
          <div class="message-sent-text">
          <%= message.content %>
          </div>
        </div>
      </div>
    <% else %>
      <div class="message-received">

        <div class="message-received-user-nickname">
          <%= message.from_user_nickname %>
        </div>

        <div class="message-received-timestamp">
          <%= time_ago_in_words(message.created_at) + " ago." %>
        </div>

        <div class="card message-received-content">
          <div class="message-received-text">
          <%= message.content %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>