<% comments.each_with_index do |comment, i| %>
  <div class="post-comment">
    <div class="comment-user"><%= link_to(comment.user.nickname, comment.user) %></div>
    <span class="comment-i">#<%= i+1 %></span>
    <div class="comment-timestamp"> | <%= display_newest_timestamp(comment) %></div>
    <% if current_user_has_ud_permission_to?(comment.user) %>
      <div class="comment-action">
        <%= link_to(fa_icon("edit", title: "Edit", class: "fa-2x", style: "margin-top:-5px;"), edit_post_comment_path(post_id, comment.id)) %>
      </div>
    <% end %>
    <div class="comment-content"><%= raw markdown(comment.content) %></div>
  </div>
<% end %>