<div class="card">
  <% comments.each_with_index do |comment, i| %>
    <div class="post-comment">
      <div class="comment-user"><%= link_to(comment.user_nickname, "/users/#{comment.user_nickname}") %></div>
      <span class="comment-i">#<%= i+1 %></span>
      <span class="comment-timestamp"> | <%= display_newest_timestamp(comment) %></span>
      <div class="comment-action">
        <% if current_user_has_ud_permission_to?(comment.user_id) %>      
          <%= link_to(fa_icon("edit", title: "Edit", class: "fa-2x"), edit_post_comment_path(post_id, comment.id)) %>
          <%= link_to(fa_icon("trash", title: "Delete", class: "fa-2x"), post_comment_path(post_id, comment.id), method: :Delete, remote: true) %> 
        <% end %>
        <div class="like-info" id=<%= "comment-#{comment.id}"%>>
          <%= render partial: 'likes/show', locals: { data: comment, liked_by: comment.liked_by, size: "fa-2x" } %>
        </div>
      </div>
      <div class="comment-content"><%= raw markdown(comment.content) %></div>
    </div>
  <% end %>
</div>