<% provide(:title, @post.title) %>

<div>
  <div class="container col-lg-9">
    <div class="post-detail">
      <div class="post-info">
        <%= link_to(@post.node.name, @post.node)%> | 
        <span><%= @post.title %></span>
        <div class="post-timestamp">
          <%= link_to(@author.nickname, @author) %> | 
          <span><%= display_newest_timestamp(@post) %></span>
        </div>
      </div>
      
      <div class="post-content">
        <%= raw markdown(@post.content) %>
      </div>

      <% if current_user_has_ud_permission_to?(@author) %>
        <div class="action-buttons">
          <%= link_to(fa_icon("edit", title: "Edit", class: "fa-3x"), edit_post_path(@post)) %>
          <%= link_to(fa_icon("trash", title: "Delete", class: "fa-3x"), @post, method: :delete, data: { confirm: "You sure?" }) %>
        </div>
      <% end %>

      <div class="post-comments">
        <%= render("comments", { comments: @comments, post_id: @post.id }) %>
      </div>
    </div>

    <% if user_signed_in? %>
    <div class="comments-new">
      <%= form_with(model: comment=Comment.new, url: post_comments_path(@post), remote: true) do |form| %>
        <% if comment.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(comment.errors.count, "error") %> prohibited this user from being saved:</h2>
            <ul>
              <% comment.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field comment-new-noti">
          <%= form.label :new_comment, style: "padding-bottom: 15px;" %>

          <div class="editor-toolbar clearfix">
            <%= render 'layouts/tool_bar' %>
          </div>
          <%= form.text_area :content, autocomplete: "off", class: "comment-content-input", rows: 4, onfocus: "deleteSelectedArea()", oninput: "textAreaHeightFix(this)", onblur: "getSelectionArea(this)" %>
        </div>

        <div class="actions comment-submit">
          <%= form.button("Commment", class: "btn btn-primary", onclick: "beforeCommentAction()") %>
        </div>
      <% end %>
    </div>
    <% end %>
  </div>

  <div class="container user-detail col-lg-3">
    <%= link_to(@author.nickname, @author) %>
  </div>
</div>

<script>
$('.comment-content-input').atwho(
  {
    at: "@", 
    insertTpl: "@${name}",
    searchKey: "name",
    limit: 8,
    callbacks: {
      filter(query, data, searchKey) {
        return data;
      },
      sorter(query, items, searchKey) {
        return items;
      },
      remoteFilter(query, callback) {
        return $.getJSON(
          '/ajax/users/search',
          { q: query },
          function(data) {
            return callback(data);
          }
        );
      }
    }
  });

  function beforeCommentAction() {
    hidePreviewArea();
    $(".preview-area").html("");
  }
</script>