<% provide(:title, @post.title) %>

<div>
  <div class="container col-lg-9">
    <div class="post-detail">
      <div class="post-info">
        <%= link_to(@post.node.name, @post.node)%> | 
        <span><%= @post.title %></span>
        <div class="post-timestamp">
          <%= link_to(@author.nickname, @author) %>
          <span><%= display_newest_timestamp(@post) %></span>
        </div>
      </div>
      
      <div class="post-content">
        <%= raw markdown(@post.content) %>
      </div>

      <% if current_user_has_ud_permission_to?(@author) %>
        <div class="action-buttons">
          <%= button_to("Edit", edit_post_path(@post), method: :get, class: "btn btn-primary") %>
          <%= button_to("Destroy", @post, method: :delete, class: "btn btn-danger") %>
        </div>
      <% end %>

      <div class="post-comments">
        <%= render("comments", { comments: @comments, post_id: @post.id }) %>
      </div>
    </div>

    <div class="comments-new">
      <%= form_with(model: comment=Comment.new, url: post_comments_path(@post), remote: true) do |form| %>
        <% if comment.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(comment.errors.count, "error") %> prohibited this user from being saved:</h2>
            <ul>
              <% comment.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field comment-new-noti">
          <%= form.label :new_comment %>

          <div class="editor-toolbar clearfix">
            <div class="toolbar-buttons">
            <div class="dropdown" id="dropdown-insert-codes">
              <a href="#" class="dropdown-toggle-split" data-toggle="dropdown">
                <%= fa_icon "code", style: "font-size:24px; font-weight:bold;" %>
              </a>

              <ul class="dropdown-menu">
                <li><%= link_to("Ruby", "#", remote: true, onclick: "insertCode('ruby')") %></li>
                <li><%= link_to("Java", "#", remote: true, onclick: "insertCode('java')") %></li>
              </ul>
            </div>
            </div>
          </div>
          <%= form.text_area :content, autocomplete: "off", class: "comment-content-input", rows: 4, oninput: "textAreaHeightFix(this)" %>
        </div>

        <div class="actions comment-submit">
          <%= form.submit("Commment", class: "btn btn-primary") %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="container user-detail col-lg-3">
    <%= link_to(@author.nickname, @author) %>
  </div>
</div>

<script>
function insertCode(lang){
  var obj = $(".comment-content-input");
  var str = obj.val();
  obj.val(str + "\n\n```" + lang + "\n\n```");
  obj.trigger("oninput")
}

function textAreaHeightFix(obj){
  var lineCount = obj.value.split(/\r?\n/).length;
  if (lineCount >= 4) {
    obj.rows = lineCount + 1
  } else {
    obj.rows = 4
  }
}
</script>